NODE-RED.json
[{"id":"8f34f1c8.e04e6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"131af454.9ce15c","type":"ui_form","z":"8f34f1c8.e04e6","name":"","label":"","group":"3cfc8da8.be9242","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":160,"y":220,"wires":[["31392309.18e48c","83e68344.06a38"]]},{"id":"31392309.18e48c","type":"debug","z":"8f34f1c8.e04e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":80,"wires":[]},{"id":"83e68344.06a38","type":"function","z":"8f34f1c8.e04e6","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["70cb2384.b8e9dc"]]},{"id":"70cb2384.b8e9dc","type":"cloudant out","z":"8f34f1c8.e04e6","name":"cloudant","cloudant":"","database":"sample","service":"node-red-znfja-2020--cloudant-1597403148784-18842","payonly":true,"operation":"insert","x":570,"y":220,"wires":[]},{"id":"ecf1e8.81645e18","type":"ui_form","z":"8f34f1c8.e04e6","name":"","label":"","group":"a606830d.61b04","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":380,"wires":[["4fd89a80.af0774"]]},{"id":"4fd89a80.af0774","type":"function","z":"8f34f1c8.e04e6","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["873c0390.8963"]]},{"id":"873c0390.8963","type":"function","z":"8f34f1c8.e04e6","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["632dad58.2f7424"]]},{"id":"632dad58.2f7424","type":"cloudant in","z":"8f34f1c8.e04e6","name":"","cloudant":"","database":"sample","service":"node-red-znfja-2020--cloudant-1597403148784-18842","search":"_idx_","design":"user","index":"user","x":690,"y":380,"wires":[["1b6403ff.d05a4c"]]},{"id":"1b6403ff.d05a4c","type":"function","z":"8f34f1c8.e04e6","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Successful';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":380,"wires":[["dc8b5ad5.b1e788"]]},{"id":"8e783fec.d4e28","type":"debug","z":"8f34f1c8.e04e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":320,"wires":[]},{"id":"dc8b5ad5.b1e788","type":"ui_text","z":"8f34f1c8.e04e6","group":"a606830d.61b04","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":460,"wires":[]},{"id":"3836b340.f2348c","type":"ui_form","z":"8f34f1c8.e04e6","name":"","label":"","group":"1149a5e7.1b1f6a","order":0,"width":0,"height":0,"options":[{"label":"User Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":520,"wires":[["62aa9e29.5144e"]]},{"id":"62aa9e29.5144e","type":"function","z":"8f34f1c8.e04e6","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":520,"wires":[["ff6ccf0d.0f84a"]]},{"id":"ff6ccf0d.0f84a","type":"watson-conversation-v1","z":"8f34f1c8.e04e6","name":"","workspaceid":"d1246e4e-e6c0-4c63-bc8f-61455e998ef6","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/96456bfe-1cb3-42b7-91a4-467ca4a61ca3","timeout":"","optout-learning":false,"x":430,"y":540,"wires":[["e8fefe6f.8ac21","ba66a9f6.a10d78"]]},{"id":"e8fefe6f.8ac21","type":"debug","z":"8f34f1c8.e04e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":480,"wires":[]},{"id":"ba66a9f6.a10d78","type":"function","z":"8f34f1c8.e04e6","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":560,"wires":[["5ab7f312.ff124c","20999969.6e2e16"]]},{"id":"5ab7f312.ff124c","type":"ui_text","z":"8f34f1c8.e04e6","group":"1149a5e7.1b1f6a","order":1,"width":"6","height":"6","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":500,"wires":[]},{"id":"628432a2.d9513c","type":"ui_audio","z":"8f34f1c8.e04e6","name":"","voice":"","always":"","x":810,"y":620,"wires":[]},{"id":"20999969.6e2e16","type":"ui_audio","z":"8f34f1c8.e04e6","name":"","group":"1149a5e7.1b1f6a","voice":"","always":"","x":850,"y":580,"wires":[]},{"id":"3cfc8da8.be9242","type":"ui_group","z":"","name":"Reg form","tab":"6035cc99.42e4c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"a606830d.61b04","type":"ui_group","z":"","name":"Second form","tab":"9ccb943b.da8b48","order":1,"disp":true,"width":"6","collapse":false},{"id":"1149a5e7.1b1f6a","type":"ui_group","z":"","name":"Bot","tab":"7ced8b0f.c3fb64","order":1,"disp":true,"width":"6","collapse":false},{"id":"6035cc99.42e4c4","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"9ccb943b.da8b48","type":"ui_tab","z":"","name":"Second page","icon":"dashboard","disabled":false,"hidden":false},{"id":"7ced8b0f.c3fb64","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false}]